body {
  color: rgb(93, 93, 93);
}
/* Navbar */
.nav-bar {
  padding-bottom: 10px;
  background-color: rgb(252, 252, 252);
  border-bottom: 1px rgb(229, 228, 228) solid;
}
.website-logo {
  height: 60px;
}
.nav-div {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}
.nav-tabs {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 30px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav-add-btn {
  background-color: rgb(242, 242, 242);
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  color: rgb(93, 93, 93);
  align-items: center;
}
.nav-icon-btn {
  background-color: rgb(242, 242, 242);
  border-radius: 50%;
  padding: 8px 8px 5px;
  font-size: 18px;
  border: none;
  color: rgb(0, 0, 0);

  align-items: center;
}
/* Listings */
.listing-card {
  width: 200px;
  height: 280px;
  background-color: rgb(237, 237, 237);
  border-radius: 20px 20px 0 0;
  text-align: start;
  margin: 10px;
}
.listing-img {
  border-radius: 20px;
}
/* Homepage */
.dashboard {
  background-color: white;
}
